[core]
	excludesfile = /Users/tungtram/.gitignore_global
  editor = vim
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path =
#[mergetool "sourcetree"]
#	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true

[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	tool = kdiff3
[user]
	name = Tung Tram
	email = tung@tinypulse.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tungtram/.stCommitMsg
#[credential]
#	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/

[alias]
	current = rev-parse --abbrev-ref HEAD
	recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 100
	fco= !BRANCH=`git recent | fzf` && git checkout ${BRANCH}
  freset= !BRANCH=`git recent | fzf` && git checkout ${BRANCH} && git fetch origin && git reset --hard FETCH_HEAD
	fmerge= !BRANCH=`git recent | fzf` && git merge ${BRANCH}
